.main-button {
  border-radius: 0.3rem;
  background-color: var(--darkred);
  border: none;
  font-family: inherit;
  user-select: none;
  cursor: pointer;
}
.main-button:hover span {
  transform: translateY(-18%);
}

.main-button:active span,
.main-button:disabled span {
  transform: translateY(-3%);
}
.main-button span {
  background-color: var(--red);
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 0.3rem;
  color: var(--white);
  transition: transform 0.1s;
  transform: translateY(-15%);
  font-size: var(--buttonFS);
  justify-content: space-between;
}
.main-button:disabled span {
  opacity: 60%;
  cursor: not-allowed;
}
.main-dropdown {
  position: relative;
  background-color: var(--darkblue);
  width: fit-content;
  height: fit-content;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  user-select: none;
}
.main-dropdown select {
  padding: 1rem;
  border: none;
  background-color: var(--blue);
  border-radius: 0.3rem;
  color: var(--background);
  font-size: var(--buttonFS);
  font-family: inherit;
  transform: translateY(-15%);
  transition: transform 0.1s;
  cursor: pointer;
}

.main-dropdown:hover select {
  transform: translateY(-18%);
}
.main-dropdown:active select,
.main-dropdown select:disabled {
  transform: translateY(-3%);
}
.main-dropdown select:disabled {
  opacity: 60%;
  cursor: not-allowed;
}
a {
  color: inherit;
  text-decoration: none;
}
