:root {
  --background: #f8f8f6;
  --foreground: #222222;
  --red: #d32f2f;
  --darkred: #b21e1e;
  --blue: #1976d2;
  --green: #307a30;
  --gray: #c6c6c6;
  --white: #ededed;
  --darkgray: #696767;
}

html,
body {
  font-size: 12px;
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--secFont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
